.info {
  border-radius: 25px;
  display: flex;
  padding: 30px 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.info__imgWrapper {
  flex: 50%;
  border-radius: 25px;
  margin-right: 50px;
  position: relative;
}

.info__image {
  background-color: black;
  border-radius: 25px;
  display: block;
  max-width: 100%;
}

.info__details {
  flex: 50%;
}

.info__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 35px;
  text-transform: uppercase;
}

.info__date {
  margin-top: 0;
  margin-bottom: 30px;
}

.info__description {
  color: rgb(218, 216, 216);
}

/* DESKTOP SETUP (992px) */
@media (max-width: 992px) {
  .info {
    flex-direction: column-reverse;
  }
  .info__imgWrapper {
    margin: 0 auto;
  }
  .info__description {
    margin-bottom: 30px;
  }
}
